.makeStyles-cardIcon-308.makeStyles-warningCardHeader-309,
.makeStyles-cardIcon-308.makeStyles-successCardHeader-310,
.makeStyles-cardIcon-308.makeStyles-dangerCardHeader-311,
.makeStyles-cardIcon-308.makeStyles-infoCardHeader-312,
.makeStyles-cardIcon-308.makeStyles-primaryCardHeader-313,
.makeStyles-cardIcon-308.makeStyles-roseCardHeader-314 {
  padding: 0px !important;
}
..makeStyles-cardFooterStats-327 {
  margin-top: 8px !important;
}
.makeStyles-card-294 {
  margin-top: 6px !important;
}

.makeStyles-cardFooterStats-327 {
  margin-top: 6px !important;
}
